version: "3.9"
services:
api:
image: python:3.11
container_name: calc-backend
working_dir: /app
volumes:
- ./:/app
command: bash -c "pip install -r requirements.txt && uvicorn app.main:app --host 0.0.0.0 --port 8000"
ports:
- "8000:8000"


tests:
image: python:3.11
container_name: calc-tests
working_dir: /app
volumes:
- ./:/app
environment:
RUN_E2E: "1"
FRONT_URL: "http://api:8000/index.html"
depends_on:
- api
command: bash -c "pip install -r requirements.txt && pytest -q"